<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" >
<style>
	table, th, td {
	border-collapse: collapse;
	 border:3px ridge rgba(38, 255, 185, 0.77);
	 }
	 td,th{
	 padding:10px;
	 font-family: \"Lucida Console\", \"Courier New\", monospace;
	 }
	 th{
	 background:rgba(38, 240, 242, 0.53);}
</style>
</head>
<body>
<table style="width:100%">
<thead>
<tr>
<th th:each="header: ${headers}" th:text=${header} >
</th>
</tr>
</thead>
<tbody>
<tr th:each="customer: ${customers}">
			<td th:each="header: ${headers}" th:text="${customer.getvalues(header)}"></td>
			</tr>
</tbody>
</table>
</body>
</html>